@{
    ViewData["Title"] = "Acesso Negado";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<div class="shadow-lg p-3 mb-5 bg-white rounded">Você prescisa fazer o <a href="/Views/Usuario/Login.cshtml">login</a> para acesar essa página.</div>
