@{
    ViewData["Title"] = "";
}


<a img="/wwwroot/favicon.ico"></a>
  <div class="row">
      <div class="col-12 text-center mb-5">
          <h2 class="separacao">Camisas</h2>
      </div>
  </div>

<div class="row mx-auto container">
<!-- CAMISAS -->




<!-- PRODUTO 1 -->

<div class="card product placeholder col-3">
  <img src="/images/bragantino.png" class="card-img-top" alt="Bragantino">

  <div class="card-body">
    <h5 class="card-title">Camisa Bragantino</h5>
    <p class="card-text">R$ 99,90</p>
    <a href="https://wa.link/j9t4cb" id="addProduct" class="btn btn-primary add-to-cart animated">Comprar</a>
  </div>
</div>

<!-- PRODUTO 2 -->

<div class="card product placeholder col-3">
  <img src="/images/brasil.png"  class="card-img-top" alt="Brasil">

  <div class="card-body">
    <h5 class="card-title">Camisa Brasil</h5>
    <p class="card-text">R$ 99,90</p>
    <a href="https://wa.link/j9t4cb" class="btn btn-primary add-to-cart animated">Comprar</a>
  </div>
</div>

<!-- PRODUTO 3 -->

<div class="card product placeholder col-3">
  <img src="/images/corinthians.png"  class="card-img-top" alt="Corinthians">

  <div class="card-body">
    <h5 class="card-title">Camisa Corinthians</h5>
    <p class="card-text">R$ 99,90</p>
    <a href="https://wa.link/j9t4cb" class="btn btn-primary add-to-cart animated">Comprar</a>
  </div>
</div>

<!-- PRODUTO 4 -->
<div class="card product placeholder col-3">
  <img src="/images/cruzeiro.png"  class="card-img-top" alt="Cruzeiro">

  <div class="card-body">
    <h5 class="card-title">Camisa Cruzeiro</h5>
    <p class="card-text">R$ 99,90</p>
    <a href="https://wa.link/j9t4cb" class="btn btn-primary add-to-cart animated">Comprar</a>
  </div>
</div>
<!-- PRODUTO 5 -->
<div class="card product placeholder col-3">
  <img src="/images/netherlands.png"  class="card-img-top" alt="Netherlands">

  <div class="card-body">
    <h5 class="card-title">Camisa Netherlands</h5>
    <p class="card-text">R$ 99,90</p>
    <a href="https://wa.link/j9t4cb" class="btn btn-primary add-to-cart animated">Comprar</a>
  </div>
</div>
<!-- PRODUTO 6 -->
<div class="card product placeholder col-3">
  <img src="/images/portugal.png"  class="card-img-top" alt="Portugal">

  <div class="card-body">
    <h5 class="card-title">Camisa Portugal</h5>
    <p class="card-text">R$ 99,90</p>
    <a href="https://wa.link/j9t4cb" class="btn btn-primary add-to-cart animated">Comprar</a>
  </div>
</div>
<!-- PRODUTO 7 -->
<div class="card product placeholder col-3">
  <img src="/images/Vasco.png" class="card-img-top" alt="Vasco">

  <div class="card-body">
    <h5 class="card-title">Camisa Vasco</h5>
    <p class="card-text">R$ 99,90</p>
    <a href="https://wa.link/j9t4cb" class="btn btn-primary add-to-cart animated">Comprar</a>
  </div>
</div>
<!-- PRODUTO 8 -->
<div class="card product placeholder col-3">
  <img src="/images/saopaulo.png" class="card-img-top" alt="Sao paulo">

  <div class="card-body">
    <h5 class="card-title">Camisa São Paulo</h5>
    <p class="card-text">R$ 99,90</p>
    <a href="https://wa.link/j9t4cb" class="btn btn-primary add-to-cart animated">Comprar</a>
  </div>
</div>
</div>
<!-- CHUTEIRAS -->
<br><br>
  <div class="row">
      <div class="col-12 text-center mb-5">
          <h2 class="separacao">Chuteiras</h2>
      </div>
  </div>
<br>


<div class="row mx-auto container">

<!-- PRODUTO 1 -->
<div class="card placeholder col-3">
  <img src="../images/chuteirapink.jpg"  class="card-img-top" alt="chuteira_de_campo">

  <div class="card-body">
    <h5 class="card-title">Chuteira Campo Kappa Zodiac - Verde água</h5>
    <p class="card-text">R$ 299,90</p>
    <a href="https://wa.link/j9t4cb" class="btn btn-primary add-to-cart animated">Comprar</a>
  </div>
</div>
<!-- PRODUTO 2 -->
<div class="card product placeholder col-3">
  <img src="../images/chuteiralaranja.jpg"  class="card-img-top" alt="chuteira_phantom">

  <div class="card-body">
    <h5 class="card-title">Chuteira Nike Phantom GT2 Club Masculina - Laranja</h5>
    <p class="card-text">R$ 109,90</p>
    <a href="https://wa.link/j9t4cb" class="btn btn-primary add-to-cart animated">Comprar</a>
  </div>
</div>

<!-- PRODUTO 10 -->
<div class="card product placeholder col-3">
  <img src="../images/chuteirared.jpg"  class="card-img-top" alt="chuteira_society">

  <div class="card-body">
    <h5 class="card-title">Chuteira Society Masculina - Vermelha</h5>
    <p class="card-text">R$ 109,90</p>
    <a href="https://wa.link/j9t4cb" class="btn btn-primary add-to-cart animated">Comprar</a>
  </div>
</div>
<!-- PRODUTO 11 -->
<div class="card product placeholder col-3">
  <img src="../images/chuteirablack.jpg"  class="card-img-top" alt="chuteira_society">

  <div class="card-body">
    <h5 class="card-title">Chuteira Society Nike Beco 2 TF - Adulto</h5>
    <p class="card-text">R$ 109,90</p>
    <a href="#" class="btn btn-primary add-to-cart animated">Comprar</a>
  </div>
</div>
<!-- PRODUTO 12 -->
</div>
<style>
        .add-to-cart {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  font-weight: bold;
}

.add-to-cart:hover {
  background-color: #0069d9;
  border-color: #0062cc;
  color: #fff;
}
  
        .separacao{
        color: white;
       background-color: black;
       filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 10px;
        width: 100%;
        height: 100%;
        
      }</style>




